NEXT_PUBLIC_APP_NAME=Sammanställningar
NEXT_PUBLIC_DESCRIPTION=Sammanställ med AI
NEXT_PUBLIC_API_URL=http://localhost:3001/api
DOMAIN_NAME=localhost
NEXT_PUBLIC_BASE_PATH=''
HEALTH_AUTH=false
HEALTH_USERNAME=''
HEALTH_PASSWORD=''
