@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@use '../../public/fonts/fonts.css';

@use 'app-base';
@use 'app-utilities';
@use 'app-components';
@use './layouts/default-layout.scss';
